cloudpickle==3.1.2
fastmcp==3.1.1
google-adk[agent-identity]>=2.3.0
google-auth==2.49.1
google-cloud-aiplatform[adk,agent_engines]>=1.158.0
google-cloud-discoveryengine==0.13.12
httpx==0.28.1
pydantic==2.12.5
python-dotenv==1.2.2
requests==2.33.0
pypdf==4.2.0
python-docx==1.1.0
yfinance==0.2.65
