# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
.venv
venv/
ENV/
env/

# Environment Variables
.env
.env.local
.env.*.local

# Node.js
node_modules/
npm-debug.log
yarn-error.log
.next/
dist/
.DS_Store

# Google Cloud
.gcloudignore

# Project Specific
backend/static/
backend/test_venv/
frontend/out/
screenshots/