# Nexus Search Academy - Backend Configuration
# Copy this file to .env and fill in your values

# Google Cloud Configuration
PROJECT_NUMBER=440133963879
LOCATION=global
ENGINE_ID=deloitte-demo
DATA_STORE_ID=5817ee80-82a4-49e3-a19c-2cedc73a6300

# Port for Backend to Run on
PORT=8009
